{% extends 'base.html' %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row2" id="father_div">
                {% set i = context.detail_name %}
                <div class="col-md-42" id="{{i}}">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" id="img{{i}}" src="/pic?name={{context.detail_name}}&file=images">

                        <div class="card-body" style="height:30px;padding-top: 2px;padding-bottom: 2px;">
                            <!--                            <div class="card-text">-->
                            <a href="javascript:delUpload('{{i}}')" style="float: left;color:#FFDAB9;"
                               class="deletelink">
                               <img id="delete_icon" src="../static/public_img/delete.png">
                            </a>
                            <!--                                <a href="/delete?name={{ i }}" style="float: left;color:#FFDAB9;" class="deletelink">-</a>-->
                            <!--                            <a href="/revolve?name={{ i }}"  style="float: right;color:#FFDAB9;"-->
                            <a href="javascript:delUpload2('{{i}}')" style="float: right;color:#FFDAB9;"
                               class="revolvelink">
                               <img id="delete_icon" src="../static/public_img/revolve.png">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

