{% extends 'base.html' %}

{% block scripts %}
{#    <script type="text/javascript" src="static/js/popper.min.js"></script>#}
    <script language="javascript">
        function guid() {
            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }
            return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
        }

        function revolve_pic(diva) {
            var pw=prompt("请输入口令", "")
            if (pw!="" && pw != null) {
                $.ajax({
                        url : "/revolve",
                        data :{'name' : diva,
                                'pw' : pw},
                        type : "POST",
                        success : function(data){
                                    if (data =="200"){
                                        var boxObj = document.getElementById('img' + diva);
                                        var uuid = guid(8,16);
                                        boxObj.src = "/pic?"+ "&file=images" +"&name=" + diva + uuid;
                                    }
                                    else{
                                        alert("对不起，你没有该权限");
                                    }
                              }
                    })
            }
        }

        function delete_pic(diva) {
           $.ajax({
                url : "/delete",
                data :{'name' : diva},
                type : "POST",
                success : function(data){
                        if (data =="200"){
                            alert("删除成功");
                            document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
                        }
                        else{
                            alert("对不起，你没有该权限");
                        }
                  }
            })
          }
    </script>
{% endblock %}

{% block content %}
    <div class="album bg-light">
        <div style="height: 75px;background-color: white;">
            <a role=button" class="btn btn-primary btn-lg" style="
                position: absolute;
                right: 175px;
                top: 80px;" href="/workspace"
            >Release
            </a>
        </div>
        <div class="container-lg" style="max-width: 1200px;">
            <div class="row row-cols-4" id="father_div">
                {% for i in range(8) %}
                    <div class="col">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="/cover">
                            <div class="card-body" style="height:34px;padding-top: 2px;">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}