{% extends 'base.html' %}

{% block scripts %}
{#    <script type="text/javascript" src="static/js/popper.min.js"></script>#}
    <script language="javascript">
        function guid() {
            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }
            return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
        }

        function revolve_pic(diva) {
            var pw=prompt("请输入口令", "")
            if (pw!="" && pw != null) {
                $.ajax({
                        url : "/revolve",
                        data :{'name' : diva,
                                'pw' : pw},
                        type : "POST",
                        success : function(data){
                                    if (data =="200"){
                                        var boxObj = document.getElementById('img' + diva);
                                        var uuid = guid(8,16);
                                        boxObj.src = "/pic?"+ "&file=images" +"&name=" + diva + uuid;
                                    }
                                    else{
                                        alert("对不起，您没有该权限");
                                    }
                              }
                    })
            }
        }

        function delete_pic(diva) {
           $.ajax({
                url : "/delete_pic",
                data :{'name' : diva},
                type : "POST",
                success : function(data){
                        if (data =="200"){
                            alert("删除成功");
                            document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
                        }
                        else{
                            alert("对不起，您没有该权限");
                        }
                  }
            })
          }
    </script>
{% endblock %}

{% block content %}
    <div class="album bg-light">
        <div style="height: 75px;background-color: white;">
            <div class="dropdown" style="
                    position: absolute;
                    right: 105px;
                    top: 75px;">
                <button type="button" class="btn btn-primary btn-lg" style="
                    border-radius: 30px" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="oi oi-plus"></span>&nbsp;&nbsp;Create Dataset
                </button>
                <ul class="dropdown-menu dropdown-menu-end" style="border-radius: 10px;">
                    <li><a class="dropdown-item" href="/workspace">Image</a></li>
                    <li><a class="dropdown-item" href="/workspace_video">Video</a></li>
                </ul>
            </div>
        </div>
        <div class="container-lg" style="max-width: 1200px;min-height: 1000px;">
            <div class="row row-cols-4" id="father_div">
                {% for user in data['user'] %}
                    {% if 'datasets' in user.keys() %}
                        {% for dataset in user['datasets'] %}
                            <div class="col">
                                <div class="card mb-4 shadow-sm" >
                                    <div style="overflow: hidden">
                                        <a href="/task?user={{ user.id }}&dataset={{ dataset['dataset_id'] }}">
                                            <img class="card-img-top zoom" src="/cover?index={{ dataset['dataset_cover'] }}">
                                        </a>
                                    </div>
                                    <div class="card-body" style="height:fit-content;padding-top: 2px;">
                                        <div style="margin-top: 5px">
                                            <img class="avatar-xs" src="/avatar?index={{ user.avatar }}">
                                            <span style="font-size: 12px; vertical-align: middle; color: #1890FF; margin-left: 5px">{{ user.name }}</span>
                                        </div>
                                        <div style="margin-top: 10px; font-weight: bold;">{{ dataset['dataset_name'] }}</div>
                                        {% if 'dataset_tag' in dataset.keys() %}
                                            <div style="
                                                        text-align: center;
                                                        border-radius: 10px;
                                                        color:#4E93E1;
                                                        background: #eaf5ff;
                                                        font-size: 12px;
                                                        width: fit-content;
                                                        padding: 5px;
                                                        margin-top: 10px">{{ dataset['dataset_tag'] }}</div>
                                        {% endif %}
                                        <div style="margin-top: 5px">
                                            <div style="display:inline;">
                                            <span class="oi oi-star"></span>
                                            <div style="display:inline;">{{ dataset['dataset_fav'] }}</div>
                                            </div>
                                            <div style="display:inline;">
                                                <span class="oi oi-link-intact"></span>
                                                <div style="display:inline;">{{ dataset['dataset_ref'] }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}