{% extends 'base.html' %}

{% block scripts %}
{#    <script type="text/javascript" src="static/js/popper.min.js"></script>#}
    <script language="javascript">
        function guid() {
            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }
            return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
        }

        function revolve_pic(diva) {
            var pw=prompt("请输入口令", "")
            if (pw!="" && pw != null) {
                $.ajax({
                        url : "/revolve",
                        data :{'name' : diva,
                                'pw' : pw},
                        type : "POST",
                        success : function(data){
                                    if (data =="200"){
                                        var boxObj = document.getElementById('img' + diva);
                                        var uuid = guid(8,16);
                                        boxObj.src = "/pic?"+ "&file=images" +"&name=" + diva + uuid;
                                    }
                                    else{
                                        alert("对不起，您没有该权限");
                                    }
                              }
                    })
            }
        }

        function delete_pic(diva) {
           $.ajax({
                url : "/delete",
                data :{'name' : diva},
                type : "POST",
                success : function(data){
                        if (data =="200"){
                            alert("删除成功");
                            document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
                        }
                        else{
                            alert("对不起，您没有该权限");
                        }
                  }
            })
          }
    </script>
{% endblock %}

{% block content %}
    <div class="album bg-light">
        <div style="height: 75px;background-color: white;">
            <a role=button" class="btn btn-primary btn-lg" style="
                position: absolute;
                right: 175px;
                top: 80px;" href="/workspace"
            >Release
            </a>
        </div>
        <div class="container-lg" style="max-width: 1200px;">
            <div class="row row-cols-4" id="father_div">
                {% for user in data['user'] %}
                    {% if 'datasets' in user.keys() %}
                        {% for dataset in user['datasets'] %}
                            <div class="col">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="/cover">
                                    <div class="card-body" style="height:150px;padding-top: 2px;">
                                        <div>
                                            <img class="avatar-xs" src="/avatar?index={{ user.avatar }}">
                                            <span style="font-size: 12px; vertical-align: middle; color: #1890FF; margin-left: 5px">{{ user.name }}</span>
                                        </div>
                                        <div style="margin-top: 10px; font-weight: bold;">{{ dataset['dataset_name'] }}</div>
                                        {% if 'dataset_tag' in dataset.keys() %}
                                            <div style="
                                                        text-align: center;
                                                        border-radius: 10px;
                                                        color:#4E93E1;
                                                        background: #eaf5ff;
                                                        font-size: 12px;
                                                        width: fit-content;
                                                        padding: 5px;">{{ dataset['dataset_tag'] }}</div>
                                        {% endif %}
                                        <div>{{ dataset['dataset_fav'] }}</div>
                                        <div>{{ dataset['dataset_ref'] }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}