{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="../static/css/signin.css">
{% endblock %}

{% block content %}
<div style="background-color:#eee;min-height: 1000px">

    <form class="form-signin" method="POST" action="/login">
      <h2 class="form-signin-heading">Please sign in</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.remember) }}
      <div class="d-grid">
        <button class="btn btn-primary" type="submit">Sign in</button>
      </div>
    </form>

</div> <!-- /container -->
{% endblock %}

{% block footer %}
    <footer style="background-color:#eee;text-align: center;">
        <small> &copy; 2021 <a href="https://gitee.com/shooterhex" title="Written by Shooter Hex">Shooter Hex</a> /
            <a href="https://gitee.com/shooterhex/android_app" title="Fork me on GitHub">GitHub</a>
        </small>
    </footer>
{% endblock %}