{% extends 'base.html' %}

{% block scripts %}
{#    <script type="text/javascript" src="static/js/popper.min.js"></script>#}
    <script language="javascript">
        function guid() {
            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }
            return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
        }

        function revolve_pic(diva) {
            var pw=prompt("请输入口令", "");
            if (pw!="" && pw != null) {
                $.ajax({
                        url : "/revolve",
                        data :{'name' : diva,
                                'pw' : pw},
                        type : "POST",
                        success : function(data){
                                    if (data =="200"){
                                        var boxObj = document.getElementById('img' + diva);
                                        var uuid = guid(8,16);
                                        boxObj.src = "/pic?"+ "&file=images" +"&name=" + diva + uuid;
                                    }
                                    else{
                                        alert("对不起，您没有该权限");
                                    }
                              }
                    })
            }
        }

        function delete_pic(diva) {
           $.ajax({
                url : "/delete",
                data :{'name' : diva},
                type : "POST",
                success : function(data){
                        if (data =="200"){
                            alert("删除成功");
                            document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
                        }
                        else{
                            alert("对不起，您没有该权限");
                        }
                  }
            })
          }

      function name_dataset_js() {
       var name = prompt("请输入您的数据集名称", "");
       var tag = prompt("请输入一个数据集标签（如果无，直接点击OK）", "")
            if (name!="" && name != null) {
                $.ajax({
                        url : "/name_dataset",
                        data :{'name' : name,
                                'tag': tag},
                        type : "POST",
                        success : function(data){
                                    if (data =="200"){
                                        alert("命名成功");
                                        window.location.replace('/');
                                    }
                                    else{
                                        alert("对不起，您没有该权限");
                                    }
                              }
                    })
            }
      }
      function delete_dataset_js() {
        if (confirm('您是否要删除当前仍未发布的数据集?')) {
          $.ajax({
                    url : "/delete_dataset",
                    type : "POST",
                    success : function(data){
                                if (data =="200"){
                                    alert('删除成功，返回首页。');
                                    window.location.replace('/');
                                }
                                else{
                                    alert("删除失败！");
                                }
                          }
                })
        }
      }
    </script>
{% endblock %}

{% block content %}
    <div class="album" style="background-color:#eee">
        <div class="container-lg" style="max-width: 1200px;min-height: 1000px;padding-top: 75px;">
            <div class="row row-cols-6" id="father_div">
                {% if context.li != [] %}
                    {% for i in context.li %}
                        <div class="col" id="{{i}}">
                            <a href="/detail?name={{i}}" class="detail_link">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" id="img{{i}}" src="/pic?name={{ i }}&file=thumb">
                                    <div class="card-body" style="height:34px;padding-top: 2px;">
                                        <!--                            <div class="card-text">-->
                                        <a href="/annotate?name={{i}}" style="float: left;color:#FFDAB9;"
                                        class="annotatelink">
                                        <img id="annotate_icon" src="../static/public_img/annotate.png">
                                        </a>
                                        <!--                                <a href="/delete?name={{ i }}" style="float: left;color:#FFDAB9;" class="deletelink">-</a>-->
                                        <!--                            <a href="/revolve?name={{ i }}"  style="float: right;color:#FFDAB9;"-->
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer style="background-color:#eee;text-align: center;">
        <small> &copy; 2021 <a href="https://gitee.com/shooterhex" title="Written by Shooter Hex">Shooter Hex</a> /
            <a href="https://gitee.com/shooterhex/android_app" title="Fork me on GitHub">GitHub</a>
        </small>
    </footer>
{% endblock %}