{% extends 'base.html' %}

{% block scripts %}
{#    <script type="text/javascript" src="static/js/popper.min.js"></script>#}
    <script language="javascript">
        function guid() {
            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }
            return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
        }

        function delete_pic(diva) {
           $.ajax({
                url : "/delete_pic",
                data :{'name' : diva},
                type : "POST",
                success : function(data){
                        if (data =="200"){
                            alert("删除成功");
                            document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
                        }
                        else{
                            alert("对不起，您没有该权限");
                        }
                  }
            })
          }
    </script>
    <script src="../static/js/dataset.js"></script>
{% endblock %}

{% block content %}
    <div class="album bg-light">
        <div style="height: 75px;background-color: white;">
            <form action="/upload_row" method="post" enctype="multipart/form-data">
                <label for="">
                    <button type="button" class="btn btn-outline-secondary" style="
                        position: absolute;
                        right: 415px;
                        top: 80px;" onclick="upload.click()"
                    >Upload
                    <input type="file" id="upload" name="f1" style="
                    display: none;" multiple>
                    </button>
                </label>
                <button type="button" class="btn btn-outline-primary" style="
                    position: absolute;
                    right: 330px;
                    top: 80px;" onclick="submit.click()"
                >Submit
                <input type="submit" id="submit" style="
                display: none;">
                </button>
            </form>
            <a role=button" class="btn btn-outline-success" style="
                position: absolute;
                right: 242px;
                top: 80px;" href="javascript:name_dataset_js()"
            >Release
            </a>
            <a role=button" class="btn btn-outline-danger" style="
                position: absolute;
                right: 105px;
                top: 80px;" href="javascript:delete_dataset_js()"
            >Delete Dataset
            </a>
        </div>
        <div class="container-lg" style="max-width: 1200px;min-height: 1000px;">
            <div class="row row-cols-6" id="father_div">
                {% if context.li != [] %}
                    {% for i in context.li %}
                        <div class="col" id="{{i}}">
                        <a href="/detail?name={{i}}" class="detail_link">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" id="img{{i}}" src="/pic?name={{ i }}&file=thumb">
                                <div class="card-body" style="height:34px;padding-top: 2px;">
                                    <!--                            <div class="card-text">-->
                                    <a href="javascript:delete_pic('{{i}}')" style="float: left;color:#FFDAB9;"
                                    class="deletelink">
                                    <img id="delete_icon" src="{{ url_for('static', filename='public_img/delete.png') }}">
                                    </a>
                                    <!--                                <a href="/delete?name={{ i }}" style="float: left;color:#FFDAB9;" class="deletelink">-</a>-->
                                    <!--                            <a href="/revolve?name={{ i }}"  style="float: right;color:#FFDAB9;"-->
                                </div>
                            </div>
                        </a></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}